html,
body {
  margin: 0;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

button {
  font-size: 20px;
  color: #fff;
  background: #4169e1;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
  box-shadow: none;
}

#modal {
  position: relative;
  top: 30%;
  background: #fff;
  max-width: 600px;
  height: 200px;
  margin: 0 auto;
  padding: 20px;
}

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}
